<template>
 <div id="app">
  {{ info }}
</div>
</template>

<script>
import axios from 'axios';

export default {
   el: '#app',
  data () {
    return {
      info: null
    }
  },
  mounted () {
    axios
    .get('https://raw.githubusercontent.com/lsv/fifa-worldcup-2018/master/data.json')
  .then(response => (this.info = response.data.groups))
  

     
  }
}



</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
